<h2><font color="#004D7F" size=6>M칩dulo 4. Machine Learning</font></h2>



<h1><font color="#004D7F" size=4> Tecnica de imputaci칩n multiple usando mice</font></h1>

<br>
<div style="text-align: right">
<font color="#004D7F" size=3>Luisa L칩pez V치zquez</font><br>
<font color="#004D7F" size=3>Diplomado en Ciencia de Datos</font><br>

In [18]:
import numpy as np
import pandas as pd

In [19]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
#!pip install impyute

In [20]:
from impyute.imputation.cs import mice
from sklearn.preprocessing import OrdinalEncoder

In [6]:
df = pd.read_csv('kidney_disease.csv')

In [21]:
cols_names={"bp":"blood_pressure",
          "sg":"specific_gravity",
          "al":"albumin",
          "su":"sugar",
          "rbc":"red_blood_cells",
          "pc":"pus_cell",
          "pcc":"pus_cell_clumps",
          "ba":"bacteria",
          "bgr":"blood_glucose_random",
          "bu":"blood_urea",
          "sc":"serum_creatinine",
          "sod":"sodium",
          "pot":"potassium",
          "hemo":"haemoglobin",
          "pcv":"packed_cell_volume",
          "wc":"white_blood_cell_count",
          "rc":"red_blood_cell_count",
          "htn":"hypertension",
          "dm":"diabetes_mellitus",
          "cad":"coronary_artery_disease",
          "appet":"appetite",
          "pe":"pedal_edema",
          "ane":"anemia"}

df.rename(columns=cols_names, inplace=True)

In [22]:
cols_names

{'bp': 'blood_pressure',
 'sg': 'specific_gravity',
 'al': 'albumin',
 'su': 'sugar',
 'rbc': 'red_blood_cells',
 'pc': 'pus_cell',
 'pcc': 'pus_cell_clumps',
 'ba': 'bacteria',
 'bgr': 'blood_glucose_random',
 'bu': 'blood_urea',
 'sc': 'serum_creatinine',
 'sod': 'sodium',
 'pot': 'potassium',
 'hemo': 'haemoglobin',
 'pcv': 'packed_cell_volume',
 'wc': 'white_blood_cell_count',
 'rc': 'red_blood_cell_count',
 'htn': 'hypertension',
 'dm': 'diabetes_mellitus',
 'cad': 'coronary_artery_disease',
 'appet': 'appetite',
 'pe': 'pedal_edema',
 'ane': 'anemia'}

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       400 non-null    int64
 1   age                      391 non-null    float64
 2   blood_pressure           388 non-null    float64
 3   specific_gravity         353 non-null    float64
 4   albumin                  354 non-null    float64
 5   sugar                    351 non-null    float64
 6   red_blood_cells          248 non-null    object
 7   pus_cell                 335 non-null    object
 8   pus_cell_clumps          396 non-null    object
 9   bacteria                 396 non-null    object
 10  blood_glucose_random     356 non-null    float64
 11  blood_urea               381 non-null    float64
 12  serum_creatinine         383 non-null    float64
 13  sodium                   313 non-null    float64
 14  potassium                312 non-null    float64
 15  haemoglobin              348 non-null    float64
 16  packed_cell_volume       330 non-null    object
 17  white_blood_cell_count   295 non-null    object
 18  red_blood_cell_count     270 non-null    object
 19  hypertension             398 non-null    object
 20  diabetes_mellitus        398 non-null    object
 21  coronary_artery_disease  398 non-null    object
 22  appetite                 399 non-null    object
 23  pedal_edema              399 non-null    object
 24  anemia                   399 non-null    object
 25  classification           400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [25]:
#Convertimos a numericas las columnas 
df['red_blood_cell_count'] = pd.to_numeric(df['red_blood_cell_count'], errors='coerce')
df['packed_cell_volume'] = pd.to_numeric(df['packed_cell_volume'], errors='coerce')
df['white_blood_cell_count'] = pd.to_numeric(df['white_blood_cell_count'], errors='coerce')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       400 non-null    int64
 1   age                      391 non-null    float64
 2   blood_pressure           388 non-null    float64
 3   specific_gravity         353 non-null    float64
 4   albumin                  354 non-null    float64
 5   sugar                    351 non-null    float64
 6   red_blood_cells          248 non-null    object
 7   pus_cell                 335 non-null    object
 8   pus_cell_clumps          396 non-null    object
 9   bacteria                 396 non-null    object
 10  blood_glucose_random     356 non-null    float64
 11  blood_urea               381 non-null    float64
 12  serum_creatinine         383 non-null    float64
 13  sodium                   313 non-null    float64
 14  potassium                312 non-null    float64
 15  haemoglobin              348 non-null    float64
 16  packed_cell_volume       329 non-null    float64
 17  white_blood_cell_count   294 non-null    float64
 18  red_blood_cell_count     269 non-null    float64
 19  hypertension             398 non-null    object
 20  diabetes_mellitus        398 non-null    object
 21  coronary_artery_disease  398 non-null    object
 22  appetite                 399 non-null    object
 23  pedal_edema              399 non-null    object
 24  anemia                   399 non-null    object
 25  classification           400 non-null    object
dtypes: float64(14), int64(1), object(11)
memory usage: 81.4+ KB

In [27]:
df.drop(['id'], axis=1, inplace=True)

In [28]:
df.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd

In [30]:
#Creamos el ciclo
numerical_features=[]  #Guardar los valores que son numericos
categorical_features=[] # Guardar los valores que son categoricos

for i in df.drop('classification', axis=1).columns:
    
    if df[i].nunique()>7:
        numerical_features.append(i)
        print(numerical_features,i)
    else:
        categorical_features.append(i)
        print(categorical_features,i)

['age'] age
['age', 'blood_pressure'] blood_pressure
['specific_gravity'] specific_gravity
['specific_gravity', 'albumin'] albumin
['specific_gravity', 'albumin', 'sugar'] sugar
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells'] red_blood_cells
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell'] pus_cell
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps'] pus_cell_clumps
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria'] bacteria
['age', 'blood_pressure', 'blood_glucose_random'] blood_glucose_random
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea'] blood_urea
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine'] serum_creatinine
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium'] sodium
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium'] potassium
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium', 'haemoglobin'] haemoglobin
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium', 'haemoglobin', 'packed_cell_volume'] packed_cell_volume
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium', 'haemoglobin', 'packed_cell_volume', 'white_blood_cell_count'] white_blood_cell_count
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium', 'haemoglobin', 'packed_cell_volume', 'white_blood_cell_count', 'red_blood_cell_count'] red_blood_cell_count
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension'] hypertension
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus'] diabetes_mellitus
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease'] coronary_artery_disease
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease', 'appetite'] appetite
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease', 'appetite', 'pedal_edema'] pedal_edema
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease', 'appetite', 'pedal_edema', 'anemia'] anemia

In [31]:
numerical_features

['age',
 'blood_pressure',
 'blood_glucose_random',
 'blood_urea',
 'serum_creatinine',
 'sodium',
 'potassium',
 'haemoglobin',
 'packed_cell_volume',
 'white_blood_cell_count',
 'red_blood_cell_count']

In [32]:
categorical_features

['specific_gravity',
 'albumin',
 'sugar',
 'red_blood_cells',
 'pus_cell',
 'pus_cell_clumps',
 'bacteria',
 'hypertension',
 'diabetes_mellitus',
 'coronary_artery_disease',
 'appetite',
 'pedal_edema',
 'anemia']

In [33]:
#Replazar  valores incorrectos
df['diabetes_mellitus'] = df['diabetes_mellitus'].replace(to_replace = {'\tno':'no','\tyes':'yes',' yes':'yes'})
df['coronary_artery_disease'] = df['coronary_artery_disease'].replace(to_replace = '\tno', value='no')
df['classification'] = df['classification'].replace(to_replace = 'ckd\t', value = 'ckd')

In [34]:
#Mostramos la suma de los datos nulos que tenemos en nuestra lista de caracteristicas categoricas
df.loc[:,categorical_features].isnull().sum().sort_values(ascending=False)

red_blood_cells            152
pus_cell                    65
sugar                       49
specific_gravity            47
albumin                     46
pus_cell_clumps              4
bacteria                     4
hypertension                 2
diabetes_mellitus            2
coronary_artery_disease      2
appetite                     1
pedal_edema                  1
anemia                       1
dtype: int64

In [35]:
#Mostramos la suma de los datos nulos que tenemos en nuestra lista de caracteristicas numericas
df.loc[:,numerical_features].isnull().sum().sort_values(ascending=False)

red_blood_cell_count      131
white_blood_cell_count    106
potassium                  88
sodium                     87
packed_cell_volume         71
haemoglobin                52
blood_glucose_random       44
blood_urea                 19
serum_creatinine           17
blood_pressure             12
age                         9
dtype: int64

In [41]:
#Eliminamos classification
df_v2=df.drop('classification', axis=1)

In [39]:
df.head(10)

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd
5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,74.0,...,39.0,7800.0,4.4,yes,yes,no,good,yes,no,ckd
6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,100.0,...,36.0,NaN,NaN,no,no,no,good,no,no,ckd
7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,410.0,...,44.0,6900.0,5.0,no,yes,no,good,yes,no,ckd
8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,138.0,...,33.0,9600.0,4.0,yes,yes,no,good,no,yes,ckd
9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,70.0,...,29.0,12100.0,3.7,yes,yes,no,poor,no,yes,ckd

In [42]:
df_v2

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,haemoglobin,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,15.4,44.0,7800.0,5.2,yes,yes,no,good,no,no
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,11.3,38.0,6000.0,NaN,no,no,no,good,no,no
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,9.6,31.0,7500.0,NaN,no,yes,no,poor,no,yes
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,11.2,32.0,6700.0,3.9,yes,no,no,poor,yes,yes
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,11.6,35.0,7300.0,4.6,no,no,no,good,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,15.7,47.0,6700.0,4.9,no,no,no,good,no,no
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,16.5,54.0,7800.0,6.2,no,no,no,good,no,no
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,15.8,49.0,6600.0,5.4,no,no,no,good,no,no
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,14.2,51.0,7200.0,5.9,no,no,no,good,no,no
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,15.8,53.0,6800.0,6.1,no,no,no,good,no,no

In [43]:
df_entrenamiento = df_v2.loc[:300,]
df_pruebas = df_v2.loc[300:,]

In [44]:
df_entrenamiento.shape

(301, 24)

In [45]:
df_pruebas.shape

(100, 24)

## Imputaci칩n de caracter칤sticas num칠ricas usando MICE

In [46]:
# MICE requiere valores flotantes
# Convertimos las caracteristicas numericas a flotantes
df_entrenamiento_numericos =  df_entrenamiento.loc[:,numerical_features].astype('float64')

In [47]:
df_entrenamiento_numericos.head(2)

,age,blood_pressure,blood_glucose_random,blood_urea,serum_creatinine,sodium,potassium,haemoglobin,packed_cell_volume,white_blood_cell_count,red_blood_cell_count
0,48.0,80.0,121.0,36.0,1.2,NaN,NaN,15.4,44.0,7800.0,5.2
1,7.0,50.0,NaN,18.0,0.8,NaN,NaN,11.3,38.0,6000.0,NaN

In [48]:
# Pasar las matrices numpy a los mice
df_entrenamiento_numericas_imputacion= mice(df_entrenamiento_numericos.values) # Le pasamo el data frame para la imputacion

In [15]:
#Vemos cuantas valores nulos tenemos en nuestro dataFrame

In [52]:
#Ahora a nuestro dataFrame original le vamos a pasar los valores que 
# se obtuvieron de hacer la inputacion con mice
df_entrenamiento.loc[:,numerical_features] = df_entrenamiento_numericas_imputacion

In [53]:
#Imprimimos para ver el resultado final
df_entrenamiento.loc[:,numerical_features].isna().sum().sort_values(ascending=False)

age                       0
blood_pressure            0
blood_glucose_random      0
blood_urea                0
serum_creatinine          0
sodium                    0
potassium                 0
haemoglobin               0
packed_cell_volume        0
white_blood_cell_count    0
red_blood_cell_count      0
dtype: int64

In [55]:
df_entrenamiento.head(20)

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,haemoglobin,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia
0,48.0,80.000000,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.00000,...,15.4,44.000000,7800.000000,5.200000,yes,yes,no,good,no,no
1,7.0,50.000000,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,99.78702,...,11.3,38.000000,6000.000000,4.337269,no,no,no,good,no,no
2,62.0,80.000000,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.00000,...,9.6,31.000000,7500.000000,3.751282,no,yes,no,poor,no,yes
3,48.0,70.000000,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.00000,...,11.2,32.000000,6700.000000,3.900000,yes,no,no,poor,yes,yes
4,51.0,80.000000,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.00000,...,11.6,35.000000,7300.000000,4.600000,no,no,no,good,no,no
5,60.0,90.000000,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,74.00000,...,12.2,39.000000,7800.000000,4.400000,yes,yes,no,good,yes,no
6,68.0,70.000000,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,100.00000,...,12.4,36.000000,7561.191684,4.114364,no,no,no,good,no,no
7,24.0,76.355856,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,410.00000,...,12.4,44.000000,6900.000000,5.000000,no,yes,no,good,yes,no
8,52.0,100.000000,1.015,3.0,0.0,normal,abnormal,present,notpresent,138.00000,...,10.8,33.000000,9600.000000,4.000000,yes,yes,no,good,no,yes
9,53.0,90.000000,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,70.00000,...,9.5,29.000000,12100.000000,3.700000,yes,yes,no,poor,no,yes
10,50.0,60.000000,1.010,2.0,4.0,NaN,abnormal,present,notpresent,490.00000,...,9.4,28.000000,10028.033374,3.564245,yes,yes,no,good,no,yes
11,63.0,70.000000,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,380.00000,...,10.8,32.000000,4500.000000,3.800000,yes,yes,no,poor,yes,no
12,68.0,70.000000,1.015,3.0,1.0,NaN,normal,present,notpresent,208.00000,...,9.7,28.000000,12200.000000,3.400000,yes,yes,yes,poor,yes,no
13,68.0,70.000000,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,98.00000,...,9.8,30.219982,9348.000531,3.647633,yes,yes,yes,poor,yes,no
14,68.0,80.000000,1.010,3.0,2.0,normal,abnormal,present,present,157.00000,...,5.6,16.000000,11000.000000,2.600000,yes,yes,yes,poor,yes,no
15,40.0,80.000000,1.015,3.0,0.0,NaN,normal,notpresent,notpresent,76.00000,...,7.6,24.000000,3800.000000,2.800000,yes,no,no,good,no,yes
16,47.0,70.000000,1.015,2.0,0.0,NaN,normal,notpresent,notpresent,99.00000,...,12.6,38.744912,8670.893738,4.553690,no,no,no,good,no,no
17,47.0,80.000000,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,114.00000,...,12.1,37.127233,8677.247105,4.400139,yes,no,no,poor,no,no
18,60.0,100.000000,1.025,0.0,3.0,NaN,normal,notpresent,notpresent,263.00000,...,12.7,37.000000,11400.000000,4.300000,yes,yes,yes,good,no,no
19,62.0,60.000000,1.015,1.0,0.0,NaN,abnormal,present,notpresent,100.00000,...,10.3,30.000000,5300.000000,3.700000,yes,no,yes,good,no,no

Ahora, los datos de entrenamiento  est치n listos.