In [1]:
import datetime
import numpy as np
import pandas as pd
df = pd.DataFrame()
date = [datetime.datetime(2018, 1, 1) + datetime.timedelta(days=x) for x in range(0, 365)]
value = list(np.random.randint(low=0, high=100, size=365))
df['date'] = pd.to_datetime(date)
df.index = df['date']
df['value'] = value

In [2]:
df.head()

                 date  value
date
2018-01-01 2018-01-01     61
2018-01-02 2018-01-02     59
2018-01-03 2018-01-03      0
2018-01-04 2018-01-04     79
2018-01-05 2018-01-05     71

D: Día natural
B: Día hábil
W: semanal (último día de la semana)
M: mensual (último día del mes)
SM: bimensual (el día 15 y último del mes)
Q: trimestral (último día del trimestre)

El listado completo de las opciones disponibles se puede encontrar en la documentación de pandas (http://pandas.pydata.org/pandas-docs/stable/timeseries.html). Por ejemplo, para obtener la media trimestral de los datos por trimestre se puede utilizar:

In [4]:
df.resample('Q').mean()

                value
date
2018-03-31  54.711111
2018-06-30  50.879121
2018-09-30  49.956522
2018-12-31  46.804348

In [5]:
df['date'].dt.quarter

date
2018-01-01    1
2018-01-02    1
2018-01-03    1
2018-01-04    1
2018-01-05    1
             ..
2018-12-27    4
2018-12-28    4
2018-12-29    4
2018-12-30    4
2018-12-31    4
Name: date, Length: 365, dtype: int64

In [6]:
df.groupby(df['date'].dt.quarter).mean()

          value
date
1     54.711111
2     50.879121
3     49.956522
4     46.804348

https://www.analyticslane.com/2018/07/06/agrupacion-de-datos-por-fecha-en-pandas/